# dependencies
node_modules

# next.js
.next
out

# production
build
dist
functions-dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo

# wrangler
.wrangler